name: CI

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-16.04

    steps:
      - uses: actions/checkout@v1
      - name: Installing dependencies
        run: |
          sudo apt update && sudo apt install make -y
          git clone https://github.com/estesp/manifest-tool && cd manifest-tool && git checkout v0.9.0 && sudo make && sudo make install && cd .. && rm -Rf manifest-tool
          docker run --rm --privileged multiarch/qemu-user-static:register
          sudo apt install -y qemu qemu-user-static qemu-user binfmt-support
          echo "${{ secrets.DOCKER_HUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_HUB_LOGIN }}" --password-stdin
      - name: Build image
        run: make build

      - name: Publish image
        run: if [[ $(git log --oneline -n1 | grep "Update PMS to" | wc -l) -eq 1 ]]; then TWITTER_CONSUMER_KEY="${{ secrets.TWITTER_CONSUMER_KEY}}" TWITTER_CONSUMER_SECRET="${{ secrets.TWITTER_CONSUMER_SECRET }}" TWITTER_TOKEN="${{ secrets.TWITTER_TOKEN }}" TWITTER_SECRET="${{ secrets.TWITTER_SECRET }}" make publish latest tweet; fi
